@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Kirisame;
  src: url('assets/Kirisame.ttf');
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  width: 100vw;
  min-height: 100lvh;
  overflow-x: hidden;
}

#app {
  width: 100vw;
  min-height: 100lvh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000028;
  border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00000043; 
}